<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">

	<title>the road to angular</title>

	<meta name="description" content="Why you should be using angular">
	<meta name="author" content="Kasper Reijnders">

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="stylesheet" href="css/reveal.min.css">
	<link rel="stylesheet" href="css/theme/incentro.css" id="theme">

	<!-- For syntax highlighting -->
	<link rel="stylesheet" href="lib/css/zenburn.css">

	<!-- If the query includes 'print-pdf', use the PDF print sheet -->
	<script>
	document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
	</script>

	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->
</head>

<body>

	<div class="scripts">
		<script charset="utf-8" src="slides/angular-conf/js/angular.js"></script>
		<script charset="utf-8" src="slides/angular-conf/js/mustache.js"></script>

		<script charset="utf-8">
		var app1 = angular.module('exampleapp', []);
		app1.controller('appCtrl', function ($scope) {
			$scope.value = 'superhero';
		});
		app1.controller('listCtrl', function ($scope) {
			$scope.carpark = {
				volkswagen: ['golf', 'polo', 'up'],
				toyota: ['aygo', 'yaris', 'auris', 'prius'],
				opel: ['astra']
			};
		});
		</script>
	</div>
	<div class="reveal">

		<!-- Any section element inside of this container is displayed as a slide -->
		<div class="slides" ng-app="exampleapp" >

			<section>
				<h2>the road to angularjs</h2>
				<small>Created by <a href="http://kasperreijnders.nl">Kasper Reijnders</a> / <a href="http://twitter.com/kaspereden">@kaspereden</a></small>
			</section>

			<section>
				<section>
					<h1>project</h1>
				</section>
				<section>
					<img src="slides/angular-conf/images/box1.jpg" alt="cat">
					<aside class="notes">
						project outgrows boundaries
					</aside>
				</section>
				<section>
					<img src="slides/angular-conf/images/adding.jpg" alt="add">
					<aside class="notes">
						resources and more and more
					</aside>
				</section>
				<section>
					<img src="slides/angular-conf/images/box2.jpg" alt="cat box">
					<aside class="notes">
						not what you expected<br>
						business adds more
					</aside>
				</section>
				<section data-background="slides/angular-conf/images/pop-density-3.jpg">
					<aside class="notes">
						until its so complex
					</aside>
				</section>
				<section>
					<img src="slides/angular-conf/images/blackbox.jpeg" alt="bb">
					<aside class="notes">
						what is actually happening?<br>
						new colleagues feel?<br>
						and its getting worse
					</aside>
				</section>
				<section>
					<table>
						<tr>
							<td rowspan="2" style="width: 20px">
								&nbsp;
							</td>
							<td>
								<img src="slides/angular-conf/images/cell-phones.jpg" alt="bb">
							</td>
							<td>
								<img class="fragment" src="slides/angular-conf/images/watch.jpg" alt="bb">
							</td>
							<td rowspan="2" style="width: 20px">
								&nbsp;
							</td>
						</tr>
						<tr class="fragment" >
							<td>
								<img src="slides/angular-conf/images/dk2-product.jpg" alt="bb">
							</td>
							<td>
								<img src="slides/angular-conf/images/423989-google-glass.jpg" alt="bb">
							</td>
						</tr>
					</table>
					<aside class="notes">
						business wants to optimize for devices (phones) then watches, or glasses
					</aside>
				</section>
				<section data-background="slides/angular-conf/images/wires.JPG">
					<aside class="notes">
						once it was nice, all changes
					</aside>
				</section>
				<section data-background="slides/angular-conf/images/wires_A_Server_Room_Nightmare-s600x383-12112-580.jpg">
					<aside class="notes">
						now its a mess<br>
						-> refactor
					</aside>
				</section>
				<section>
					<h2>layers</h2>
					<h2 class="fragment">applications</h2>
					<aside class="notes">
						split in layers<br>
						data,<br>
						modification (2/3)<br>
						business logic<br>
						presentation<br>
						applications ipv 1 big thing
					</aside>
				</section>
				<section>
					<h2>layers</h2>
					<aside class="notes">
						layers and abstractions<br>
						 logic separated from presentation<br>
						store data -> lowest level<br>
						accessible for anyone<br>
						lets put it to test
					</aside>
				</section>
				<section data-background="slides/angular-conf/images/architecture.svg">
					<aside class="notes">
						split layers, explain model <br>
						each application has an owner<br>
						REST is click
					</aside>
				</section>
				<section data-background="slides/angular-conf/images/architecture1.svg">
					<aside class="notes">
						start coding!
					</aside>
				</section>
				<section data-background="slides/angular-conf/images/yay.jpg">
				</section>
			</section>
			<section>
				<section>
					<h1>design patterns</h1>
					<aside class="notes">
						1st explain patterns
					</aside>
				</section>
				<section>
					<img src="slides/angular-conf/images/noo.gif"/>
				</section>
				<section>
					<h2>mvc</h2>
					<h3 class="fragment">model view controller</h3>
					<aside class="notes">
						need to understand MVC
					</aside>
				</section>
				<section data-background="slides/angular-conf/images/MCV.svg">
					<img src="slides/angular-conf/images/MVC.png" class="fragment" />
				</section>
				<section data-background="slides/angular-conf/images/MCV.svg">
					<aside class="notes">
						MVC stands for model view controller. IMAGE The user sees a view, the view is typically some HTML, the HTML gets feeded by some data, the model. When a user changes something on the page the controller is used to update the model and alter the page.
					</aside>
				</section>
				<section data-markdown data-background="#3F3F3F">
					<script type="text/template">
						```html
						<p><a class="mine" href="#"></a> text</p>
						<p class="mine"></p>

						<div class="container">
							<input class="mine mineInput"/>
						</div>
						```
					</script>
				</section>
				<section data-markdown data-background="#3F3F3F">
					<script type="text/template">
						```javascript
						var model = {
							value: 'nothing'
						};
						```
					</script>
				</section>
				<section data-markdown data-background="#3F3F3F">
					<script type="text/template">
						```javascript
						function updateModel() {
							var containers = example1.getElementsByClassName('mine');
							for (var i = 0; i< containers.length; i = i+1) {
								if (containers[i].value !== undefined) {
									containers[i].value = model.value;
								} else {
									containers[i].textContent = model.value;
								}
							}
						}

						inputs[i].onchange = function() {
							model.value=this.value;
							updateModel();
						};
						```
					</script>
				</section>
				<section id="example1">
					<h2>plain js example</h2>
					<p><a class="mine" href="#"></a> text</p>
					<p class="mine"></p>

					<div class="container">
						<input class="mine mineInput"/>
					</div>
					<aside class="notes">
						not workable<br>
						big objects
					</aside>
					<script charset="utf-8" src="slides/angular-conf/js/1-plain.js"></script>
				</section>
				<section data-markdown data-background="#3F3F3F">
					<script type="text/template">
						```html
						<div class="mine-container"></div>
						```
					</script>
				</section>
				<section data-markdown data-background="#3F3F3F">
					<script type="text/template">
					```javascript
					var view = '<p><a href="#">{{value}}</a> text</p>' +
					'<p>{{value}}</p>' +
					'<div class="container">' +
						'<input class="mineInput" value="{{value}}"/>' +
					'</div>';
					```
					</script>
				</section>
				<section data-markdown data-background="#3F3F3F">
					```javascript
					example2.getElementsByClassName('mine-container')[0].innerHTML =
							Mustache.render(view, model);
					```
				</section>
				<section id="example2">
					<h2>mustache example</h2>
					<div class="mine-container"></div>

					<script charset="utf-8" src="slides/angular-conf/js/2-mustache.js"></script>
				</section>
				<section>
					<ul>
						<li>Update data via MVC pattern</li>
						<li class="fragment">Complex data in model</li>
						<li class="fragment">No userhandling</li>
					</ul>
					<aside class="notes">
						2klik<br>
						updates, complex data, no handling<br>
						(define on change events)
					</aside>
				</section>
				<section data-background="#3F3F3F" data-markdown>
					```javascript
					inputs[i].onchange = function() {};
					```

Note:
jquery not solve this
				</section>
				<section data-background="slides/angular-conf/images/MCV-circle.svg">
					<aside class="notes">
						recap missing 2-way data binding
					</aside>
				</section>
				<section>
					<h2>angular / ember</h2>
				</section>
				<section>
					<h2>angular</h2>
				</section>
				<section data-background="slides/angular-conf/images/MVVM.svg">
					<aside class="notes">
						why it's cool<br>
						remember plain JS?<br>
						cool things like
					</aside>
				</section>
				<section>
					<code>$scope.value = "my first value";</code>
					<aside class="notes">

					</aside>
				</section>
				<section data-markdown data-background="#3F3F3F">
					<script type="text/template">
						```html
						<p><a href="#">{{value}}</a> text</p>
						<p>{{value}}</p>

						<div>
							<input ng-model="value"/>
						</div>
						```
					</script>
				</section>
				<section>
					<div ng-controller="appCtrl">
						<p><a href="#">{{value}}</a> text</p>
						<p>{{value}}</p>

						<div>
							<input ng-model="value"/>
						</div>
					</div>
				</section>
				<section>
					<div  ng-controller="listCtrl" >
						<ul>
							<li ng-repeat="(brand, cars) in carpark">
								<b>{{brand}}</b>
								<ul>
									<li ng-repeat="car in cars">{{car}}</li>
								</ul>
							</li>
						</ul>
					</div>
				</section>
				<section data-markdown data-background="#3F3F3F">
					<script type="text/template">
						```html
							<li ng-repeat="(brand, cars) in carpark">
								<b>{{brand}}</b>
								<ul>
									<li ng-repeat="car in cars">{{car}}</li>
								</ul>
							</li>
						```

						```javascript
							$scope.carpark = {
								volkswagen: ['golf', 'polo', 'up'],
								toyota: ['aygo', 'yaris', 'auris', 'prius'],
								opel: ['astra']
							};
						```
					</script>
				</section>
			</section>
			<section>
				<section>
					<h1>modules</h1>
					<aside class="notes">
						besides this 2-way databinding<br>
						modularity<br>
					</aside>
				</section>
				<section data-background="slides/angular-conf/images/modular.jpg">
					<aside class="notes">
						build separated
					</aside>

				</section>
				<section data-markdown data-background="#3F3F3F">
					<script type="text/template">
					```javascript
					angular.module('search', []);
					```
					</script>
					<aside class="notes">
						define module, mention brackets
					</aside>
				</section>
				<section data-markdown data-background="#3F3F3F">
					<script type="text/template">
					```javascript
					angular.module('autoComplete', []);

					angular.module('search', ['autoComplete']);
					```
					</script>
					<aside class="notes">
						add sub module
					</aside>
				</section>
				<section>
					<img src="slides/angular-conf/images/yeoman.png" alt="" />
					<aside class="notes">
						project management, git/grunt/bower
					</aside>
				</section>
				<section>
					<h1>yo</h1>
					<h4 class="fragment"><a href="http://www.yeoman.io" target="_blank">yeoman</a></h4>
					<aside class="notes">
						click!
					</aside>
				</section>
				<section>
					<h2>single page</h2>
					<aside class="notes">
						so what if single page app?
					</aside>
				</section>
				<section data-markdown data-background="#3F3F3F">
					<script type="text/template">
					```javascript
					var spa = angular.module('SinglePageApplication', [
						'module_1', 'module_2', 'module_3'
					]);

					spa.config(['$routeProvider',
						function ($routeProvider) {
							$routeProvider.otherwise({
								templateUrl: 'spa/templates/404.html',
								controller: '404Ctrl'
							});
						}
					]);
					```
					</script>
				</section>
				<section data-markdown data-background="#3F3F3F">
					<script type="text/template">
					```javascript
					var searchapp = angular.module('Search', []);
					searchapp.config(['$routeProvider',
						function ($routeProvider) {
							$routeProvider.when('/search', {
								templateUrl: 'search/templates/search.html',
								controller: 'SearchCtrl'
							});
							$routeProvider.when('/search/:query', {
								templateUrl: 'search/templates/results.html',
								controller: 'SearchResultsCtrl',
								reloadOnSearch: false
							});
						}
					]);
					```
					</script>
					<aside class="notes">
						module as git repo<br>
						module has own paths
					</aside>
				</section>
				<section>
					<ul>
						<li>choose toolkit</li>
						<li class="fragment">make it available</li>
						<li class="fragment">define code standards</li>
					</ul>
				</section>
			</section>
			<section>
				<section>
					<h1>recap</h1>
				</section>
				<section>
					<ul>
						<li>build modular code</li>
						<li class="fragment">split projects into small applications</li>
						<li class="fragment">give them an owner</li>
						<li class="fragment">2-way data binding is awesome</li>
						<li class="fragment">build tools are king<br></li>
						<li class="fragment">yo<br><br><br></li>
					</ul>
					<small>slides at <a href="http://kaspereden.github.io/angularconf-dec14">http://kaspereden.github.io/angularconf-dec14</a></small>
					<aside class="notes">
						6 li<br>
						build tools explain jshint & autoprefixer

					</aside>
				</section>
			</section>
			<section>
				<h4><a href="http://www.incentro.com" target="_blank" class="wof">#worldof<i>incentro</i></a></h4>
				<h4><a href="http://www.twitter.com/kaspereden" target="_blank">@kaspereden</a></h4>
			</section>
			<section>
				<h4>credits</h4>
				<small>
					<ul>
						<li>Cat in box: <a target="_blank" href="http://www.urlesque.com/2010/11/19/maru-vs-increasingly-small-boxes/">http://www.urlesque.com/2010/11/19/maru-vs-increasingly-small-boxes/</a></li>
						<li>Add people: <a target="_blank" href="http://www.property118.com/how-to-i-add-my-picture-or-a-business-logo-to-comments/40319/">http://www.property118.com/how-to-i-add-my-picture-or-a-business-logo-to-comments/40319/</a></li>
						<li>Crowd: <a target="_blank" href="http://www.planetizen.com/node/71059">http://www.planetizen.com/node/71059</a></li>
						<li>Oculus Rift: <a target="_blank" href="https://www.oculus.com/order/">https://www.oculus.com/order/</a></li>
						<li>Google Glass: <a target="_blank" href="http://www.pcmag.com/article2/0,2817,2416488,00.asp">http://www.pcmag.com/article2/0,2817,2416488,00.asp</a></li>
						<li>Phones: <a target="_blank" href="http://blogs.mcgill.ca/oss/2013/12/07/is-it-true-that-keeping-a-cell-phone-in-a-bra-can-cause-breast-cancer/">http://blogs.mcgill.ca/oss/2013/12/07/is-it-true-that-keeping-a-cell-phone-in-a-bra-can-cause-breast-cancer/</a></li>
						<li>Watches: <a target="_blank" href="http://techzulu.com/rock-smartwatch-launches-99-hd-touchscreen-smartwatch/">http://techzulu.com/rock-smartwatch-launches-99-hd-touchscreen-smartwatch/</a></li>
						<li>Wires: <a target="_blank" href="http://www.guru3d.com/articles-pages/inside-nvidia-hq,7.html">http://www.guru3d.com/articles-pages/inside-nvidia-hq,7.html</a></li>
						<li>Wires2: <a target="_blank" href="http://helpdesk.csgliudger.nl/home/nieuws/nieuwsberichten/verhuizing-serverruimte.html">http://helpdesk.csgliudger.nl/home/nieuws/nieuwsberichten/verhuizing-serverruimte.html</a></li>
						<li>Happy: <a target="_blank" href="http://www.huffingtonpost.com/tywan-wade/calling-all-teens-being-y_b_4856395.html">http://www.huffingtonpost.com/tywan-wade/calling-all-teens-being-y_b_4856395.html</a></li>
						<li>Sad: <a target="_blank" href="http://marianna.booklikes.com/post/673691/currently-reading-stargazing-from-nowhere-by-isabel-thomas-and-marilyn-thomas">http://marianna.booklikes.com/post/673691/currently-reading-stargazing-from-nowhere-by-isabel-thomas-and-marilyn-thomas</a></li>
					</ul>
				</small>
			</section>
			<section>
				<h4><a href="http://www.incentro.com" target="_blank" class="wof">#worldof<i>incentro</i></a></h4>
				<h4><a href="http://www.twitter.com/kaspereden" target="_blank">@kaspereden</a></h4>
			</section>
		</div>

	</div>

	<script src="lib/js/head.min.js"></script>
	<script src="js/reveal.min.js"></script>

	<script>

	// Full list of configuration options available here:
	// https://github.com/hakimel/reveal.js#configuration
	Reveal.initialize({
		controls: false,
		progress: true,
		history: true,
		center: true,
		margin: 0,

		theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
		transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none

		// Parallax scrolling
		// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
		// parallaxBackgroundSize: '2100px 900px',

		// Optional libraries used to extend on reveal.js
		dependencies: [
		{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
		{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
		{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
		{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
		// { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
		{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
		]
	});

	</script>

</body>
</html>
